<div class="container">
  <h1>Listado de Pagos</h1>
  <hr>
  <div class="row">
    <div class="col" >
      <button style="float:right" routerLink="/pagoForm"
              class="btn btn-primary">
        <i class="fa fa-plus pd-1"></i>
        Agregar
      </button>
    </div>
  </div>


  <table  class="table_list animated fadeIn faster animated fadeIn faster mt-3">
    <thead class="text-center thead_list">
      <tr>
        <th scope="col">Id Pago</th>
        <th scope="col">Código Sunat</th>
        <th scope="col">Descripción</th>
        <th scope="col">Tipo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody  class="tbody_list text-center bg-light" >
      <tr *ngFor="let pago of pagos; let i = index">
        <td data-label="Id Pago">{{pago.cod_pago}} </td>
        <td data-label="Código Sunat">{{pago.codigo_sunat}}  </td>
        <td data-label="Descripción">{{pago.des_pago}}  </td>
        <td data-label="Descripción">{{pago.cod_tipo_pago == 1 ? 'INGRESO' : pago.cod_tipo_pago == 2 ? 'DESCUENTO' : 'APORTES'  }}  </td>
        <td data-label="Acciones">
          <div style="margin:auto">
            <button class="btn btn-info" style="margin-right: 10px;">
              <i class="fa fa-pen"></i>
            </button>

            <button   class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!(largo == 1)" class="paginador" >
    <ul>
      <li (click) = "primeraPagina()" >
        <a>
         <i class="fas fa-arrow-left"></i>
        </a>
      </li>
      <li (click) = "cambiarPagina(i+1)" *ngFor="let pagina of paginas; let i = index">
        <a>{{i + 1}}</a>
      </li>
      <li (click) = "ultimaPagina()" >
        <a>
          <i class="fas fa-arrow-right"></i>
         </a>
      </li>
    </ul>
  </div>
</div>

