<!-- Sidebar-->
<input type="checkbox" id="nav-toggle">


<div class="sidebar">
  <div class="sidebar-brand">
    <h2><span><i class="fas fa-calculator"></i></span> <span> RRHH</span></h2>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li>
          <a [routerLink]="['dashboard']" [routerLinkActive]="['active']"><span><i class="fas fa-chart-line"></i></span><span>Dashboard</span></a>
      </li>
      <li>
          <a [routerLink]="['empleados']" [routerLinkActive]="['active']"><span><i class="fas fa-user-alt"></i></span><span>Personas</span></a>
      </li>
      <li>
          <a [routerLink]="['pagos']" [routerLinkActive]="['active']"><span><i class="fas fa-file-invoice-dollar"></i></span><span>Pagos</span></a>
      </li>
      <li>
        <a [routerLink]="['/boletas']" [routerLinkActive]="['active']"><span><i class="fas fa-file-invoice"></i></span><span>Boletas</span></a>
      </li>
      <li>
        <a [routerLink]="['/reportes']" [routerLinkActive]="['active']"><span><i class="fas fa-file"></i></span><span>Reportes</span></a>
      </li>
    </ul>
  </div>
</div>

<!--Contenedor-->
<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle"><span><i class="fas fa-bars"></i></span></label>

    </h2>

    <div class="search-wrapper">
      <span><i class="fas fa-search-plus"></i></span>
      <input type="search" placeholder="Search here" />
    </div>

    <div class="user-wrapper">
      <img src="../../../../assets/img/foto.png" width="40px" height="40px" alt="">
      <div>
        <h4>Jonathan H.</h4>
        <small>Admin</small>
      </div>
    </div>
  </header>
  <main style="height: 100%;">
   <!-- Aquí pones al hijo-->
   <router-outlet></router-outlet>
  </main>
</div>





