
<div class="cards">
  <div class="card-single">
    <div>
      <h1>54</h1>
      <span>Empleados</span>
    </div>
    <div>
      <span><i class="fas fa-user-alt"></i></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>S/. 79</h1>
      <span>Seguros de salud</span>
    </div>
    <div>
      <span><i class="fas fa-first-aid"></i></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>S/. 124</h1>
      <span>Impuestos</span>
    </div>
    <div>
      <span><i class="fas fa-file-invoice"></i></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>S/. 1200</h1>
      <span>Sueldos Pagados</span>
    </div>
    <div>
      <span><i class="fas fa-dollar-sign"></i></span>
    </div>
  </div>
</div>

<div class="recent-grid">
  <div class="projects">
      <div class="card">
        <div class="card-header">
          <h3>Recent Projects</h3>
          <button [routerLink]="['/pagos']">
            See all
            <span><i class="fas fa-arrow-right"></i></span>
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table width="100%">
                <thead>
                  <tr>
                    <td>Project Title</td>
                    <td>Department</td>
                    <td>Status</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> UI/UX Design</td>
                    <td> UI Team</td>
                    <td><span class="status purple"></span>review</td>
                  </tr>
                  <tr>
                    <td> Web Development</td>
                    <td> Frontend</td>
                    <td><span class="status pink"></span>in progress</td>
                  </tr>
                  <tr>
                    <td> Ushop app</td>
                    <td> Mobile team Team</td>
                    <td><span class="status orange"></span>pending</td>
                  </tr>
                  <tr>
                    <td> UI/UX Design</td>
                    <td> UI Team</td>
                    <td><span class="status purple"></span>review</td>
                  </tr>
                  <tr>
                    <td> Web Development</td>
                    <td> Frontend</td>
                    <td><span class="status pink"></span>in progress</td>
                  </tr>
                  <tr>
                    <td> Ushop app</td>
                    <td> Mobile team Team</td>
                    <td><span class="status purple"></span>pending</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="customers">
    <div class="card">
      <div class="card-header">
        <h3>Empleados Nuevos</h3>
          <button [routerLink]="['/empleados']">See all <span><i class="fas fa-arrow-right"></i></span>  </button>
      </div>
      <div class="card-body">
        <div class="customer">
          <div class="info">
            <img src="../../../../assets/img/foto.png" width="40px" height="40px" alt="">
            <div >
              <h4>Lewis S. Cunningham</h4>
              <small>CEO Excerpt</small>
            </div>
          </div>
          <div class="contact">
            <span><i class="fas fa-user-circle"></i></span>
            <span><i class="fas fa-comment"></i></span>
            <span><i class="fas fa-phone-square"></i></span>
          </div>
        </div>
      </div>
      <div class="card-body">
      <div class="customer">
        <div class="info">
          <img src="../../../../assets/img/foto.png" width="40px" height="40px" alt="">
          <div>
            <h4>Lewis S. Cunningham</h4>
            <small>CEO Excerpt</small>
          </div>
          </div>
          <div class="contact">
            <span><i class="fas fa-user-circle"></i></span>
            <span><i class="fas fa-comment"></i></span>
            <span><i class="fas fa-phone-square"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
